.card-container {
    background-color: darkgray;
    display: flex;
    width: 200px;
    height: 150 px;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;    
}

.btn-cat{
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin: 0 auto;
    cursor: pointer;
}
.btn-cat-primary{
    width: 100%;
    margin-top: 20px;
}

img {
    width: 100%;
}
