.card-container {
    display: flex;
    width: 200px;
    height: 150 px;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
} 

.btn-cat{
    width: 50%;
    margin: 0 auto;
}
img {
    width: 100%;
}
